<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/css/board.css">
        <title>GameRoom</title>
    </head>   
    
    <body style="background-color: rgb(231, 209, 161);">
        <script src = "https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="/static/javascript/board.js"></script>
        <script>
            {{id}}
            {{oppo}}
            myId = id;
            oppoId = oppo;
            if(id < oppo){
                turn = 1;
            }else{
                turn = 0;
            }   
            init();
            checkTurn();
        </script>
        
    </body>
</html>