<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="post" action="/signUp">
            <label>Username</label>
                <input type="text" name="username">
            <br/>
            <label>Password</label>
                <input type="password" name="password">
            <br/>
            <label>Password Again</label>
                <input type="password" name="passwordAgain">
            <br/>
            <button type="submit">SignUp</button>
        </form>
    </body>
</html>